.bold {
  font-weight: bold;
}

.card {
  display: none;
  margin: auto;
  margin-top: 40px;
}

.card-title {
  margin-bottom: 24px;
}

.winner {
  font-size: 36px;
  color: #7dc4be;
  font-weight: bold;
}

label {
  font-size: 24px;
}
